<!-- Parent Template -->
<!DOCTYPE html>
<html>
<head>
    {% block head %}
     <title>{% block title %}{% endblock %}</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
     <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     {% endblock %}
</head>
<body>
    {% block navbar %}
    
    {% endblock %}

    {% block body %}
    
    {% endblock %}
</body>

</html>
