
{% extends 'bootstrap/base.html' %}
{% block title %} Shopping_App {% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-inverse bg-info ">
    <p style="margin-left: 2%; color:white"><small>Welcome, {{ user }}</small></p>
</nav>

{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <h2>SHOPPING BAG</h2>
        <p class="visible-md visible-lg col-xs-3"><small>All Content Owned by DesignRavenous</small></p>
        <h5 class="visible-sm visible-xs col-xs-3">Items:</h5>
        <div class="dropdown pull-right">
            <a class="dropdown-toggle btn btn-default " data-toggle="dropdown">
                OPTIONS <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="btn"><a href="#">Add Item</a></li>
                <li class="btn"><a href="#">Delete All Items</a></li>
                <li class="btn"><a href="#">Modify Item</a></li>
            </ul>
        </div>
    </br>
</br>
<table class="table table-striped">
        <div class="col-xs-12">
    <tread>
    <tr>
    <th class="text-center"style="font-family: 'Major Mono Display', monospace;">ITEMS</th>
    <th class="text-center visible-md visible-lg"style="font-family: 'Major Mono Display', monospace;">ADDED BY:</th>
</tr>
</tread>
<tbody>
{% for item in todo_list %}
    <tr>
    <td class="text-center" style="font-family: 'Major Mono Display', monospace;"><a href= {{ url_for('change_basket_status', item_name = item['item']) }} style="color:black; text-decoration: none;">{{ item['item'].upper() }}</a></td>
    <td class="text-center visible-md visible-lg" style="font-family: 'Major Mono Display', monospace;">{{ item['user_name'] }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
<h5 class="col-xs-5">Already Added:</h5>
<table class="table table-striped">
    <tbody>
    {% for goodie in added_list %}
    <tr class="success">
    <td class="text-center" style="font-family: 'Major Mono Display', monospace;"><del><a href= {{ url_for('change_basket_status', item_name = goodie['item']) }} style="color:black; text-decoration: none;">{{ goodie['item'].upper() }}</a></del></td>
    </tr>
    {% endfor %}
</tbody>
</table>
    <h1 class="col-xs-4"></h1><a href= {{ url_for('remove_inbasket') }} type="button" class="col-xs-4 btn btn-success">Delete Added Items</a><h1 class="col-xs-4"></h1>


</div>
</div>

{% endblock %}
